.btn {
  border-radius: 0;
}

.btn-success {
  background-color: #0c631b;
}
.intro {
  margin: 10rem 0;
}
.header {
  background: url(../img/bg-header.jpg) center center no-repeat fixed;
  background-size: cover;
  overflow: hidden;
}
.header a {
  color: #fff;
}
.header .dropdown-item {
  color: #333;
}
.overlay{
  background: rgba(49, 29, 94, 0.5);
  color: #fff;
  overflow: hidden;
}
.header>.overlay {
  min-height: 100vh;
}
.btn, .btn:hover {
  text-transform: uppercase;
  color: #00e0d0;
  border-color: #00e0d0;
}
.btn:hover {
  background-color: #00e0d0;
  color: #000;
}

/* slider */
#slider-home .carousel-indicators {
  position: relative;
  top: 3rem;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
/* content */
.content .col-md {
  background-position: center center;
  background-size: cover;
  padding: 8rem 5rem;
  line-height: 2;
  min-height: 100vh;
}
.footer {
    padding: 5em 0;
    background: #fafafa;
    background: #fff;
    line-height: 1.5;
}